<h1>Rock, paper, scissors!</h1>

<form action="/gamemode" method="post">
  <div>
    <label for="Single Player">Single Player</label>
    <input type="radio" name="mode" value="single_player">
    
    <button type="submit" value="submit">Continue</button>
  </div>
</form>